.coin-container {
  display: flex;
  justify-content: center;
  border: 1px solid #d7d7d7;
  padding: 10px;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  width: 950px;
}
.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}
.coin-text {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
}
.coin h1 {
  font-size: 1rem;
  width: 190px;
  margin-left: 10px;
}
.coin img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.coin-symbol {
  text-transform: uppercase;
}
.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.coin-price {
  width: 110px;
}

.coin-volume {
  width: 200px;
}
.coin-marketcap {
  width: 250px;
}
.coin-percent {
  width: 80px;
}
.red {
  color: firebrick;
}
.green {
  color: forestgreen;
}
